.display-3 {
  font-size: 4.5rem;
  font-weight: 300;
  line-height: 1.2;
}

.lead {
  font-size: 1.25rem;
  font-weight: 300;
}


::ng-deep .ui-steps .ui-steps-item {
  width: 33.333%;
}

::ng-deep p-button {
  margin: 5px;
}
