<div style="text-align:center">

  <i class="pi pi-play" *ngIf="arrayURL.length !== 3 && !url" [ngStyle]="{color: color}"
     (mousedown)="initiateRecording()" (mouseup)="stopRecording()"></i>
  <h1 class="btn btn-danger" *ngIf="!recording && !hasFinish && url" (click)="cleanRecording()"> Send </h1>
  <div class="clearfix"></div>
  <audio controls="" *ngIf="url">
    <source [src]="sanitize(url)" type="audio/wav">
  </audio>
  <h1 class="btn btn-danger" *ngIf="hasFinish && !recording && !url"> Thanks </h1>

</div>


<div class="ui-g-offset-2 ui-g-8">

  <div class="jumbotron">
    <h1 class="display-3">Coughdrop Corona Test</h1>
    <p class="lead">CoughDrop - It's not the cough that carries you off, it's the coffin they carry you off in!
      - Hi folks, well
      joking apart, this is your opportunity to help yourself by dropping off a cough (sample) so that we can
      help
      you determine whether or not you are carrying the Covid-19 strain. Simply cough into your microphone on
      WhatsApp and send the sample to us with your basic information.</p>
  </div>


  <form [formGroup]="coronaForm" (ngSubmit)="onSubmit()">

    <div class="ui-g">
      <label class="ui-g-12 ui-md-6 ui-lg-3">Name
        <div>
          <input pInputText type="text" formControlName="fullName">
        </div>
      </label>

      <label class="ui-g-12 ui-md-6 ui-lg-2">
        Age
        <div>
          <input pInputText type="number" min='1' max='120' formControlName="age">
        </div>
      </label>
      <span class="ui-g-12 ui-md-6 ui-lg-3">
      <label>Gender
        <div style="padding: 5px">
        <span style="margin-left: 5px ">
          <p-radioButton name="gender" value="Male" label="Male" formControlName="gender"></p-radioButton>
        <span style="margin-left: 5px">
          <p-radioButton name="gender" value="Female" label="Female" formControlName="gender"></p-radioButton>
        </span>
        </span>
          </div>
            </label>

      </span>
    </div>


    <div class="ui-g">
        <label  class="ui-g-12 ui-md-6 ui-lg-4">Country
          <div>
            <p-dropdown [options]="countryOption" (onChange)="loadCity($event)" formControlName="country"></p-dropdown>
          </div>
        </label>
        <label class="ui-g-12 ui-md-6 ui-lg-4">City
          <div>
            <p-dropdown [options]="cityOption" formControlName="city"></p-dropdown>
          </div>
        </label>
    </div>



    <div class="ui-g">

      <label class="ui-g-12 ui-md-6 ui-lg-4">Have you been diagnosed with Corona (Covid-19)?
        <div>
          <p-dropdown [options]="haveDiagnosedOption" (onChange)="onDiagnosedChange($event)"></p-dropdown>
        </div>
      </label>
      <span class="ui-g-12 ui-md-6 ui-lg-4" *ngIf="diagnosed">
        <label>Are you suffering from one of this symptoms?
          <div>
            <p-dropdown [options]="diagnosedOption" formControlName="symptoms"></p-dropdown>
          </div>
        </label>
      </span>
    </div>
    <p-button label="Submit" type="submit"></p-button>

  </form>

</div>
